/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploaded_item/email_img
/public/email_template_img/img
/public/e_gift_card/img
# /app/Jobs/CampaignCreationFetchApi.php